<div>
    <h1>Dynamic Data With InterPolation </h1>
    <h3>Variable data</h3>
    <h2>My name is {{name}}</h2>
</div>


<div>
    <h2>Object data show</h2>
    <h3>{{student.name}}</h3>
    <h3>{{student.role}}</h3>
    <h3>{{student.phone}}</h3>
</div>

<div>
    <h2>String Concatination </h2>
    <h4>{{'Welcome to ' +name.toUpperCase()}}</h4>
</div>


<div>
    <h2>Calculation</h2>
  arithmetic
    <h3>{{5*5}}</h3>

    <h1>{{price+quantity}}</h1>
   
</div>

<div>
    <h1>Use Js Property</h1>
    <h3>The lenght of name is {{name.length}}</h3>
</div>

<div>
    <h1>We can use also Method in interpolation </h1>
    <h2>{{calculateTotal()}}</h2>
    <h1>Calculate Tax</h1>
    <h2>{{calculateTax().toFixed(2)+'%'}}</h2>

</div>


<div>
    <h2>Edit Mode</h2>
    <button >{{editMode ?'Update Employee':'Add Employee'}}</button>
</div>


<input type="text" value="{{name}}">